/* TODO: remove */

#Skills {
  background-color: var(--accent-2);
}

.Skills-container {
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.Skills-container > * {
  padding: 0 10px;
}

.Skills-chip-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  flex-wrap: wrap;
}

.Skills-chip-wrapper > * {
  margin: 4px;
}

.skill-1 {
  background-color: var(--accent) !important;
  color: var(--text-primary) !important;
}

.skill-2 {
  background-color: var(--accent-1) !important;
  color: var(--text-primary) !important;
}

.skill-3 {
  background-color: var(--skill-3) !important;
  color: var(--text-primary) !important;
}